cicd-ui/dist
cicd-ui/.vscode
cicd-ui/node_modules
cicd-ui/Product.json
cicd-ui/package-lock.json

### STS ###
cicd-back/.apt_generated
cicd-back/.classpath
cicd-back/.factorypath
cicd-back/.project
cicd-back/.settings
cicd-back/.idea
cicd-back/.springBeans
cicd-back/.sts4-cache
cicd-back/.gradle
cicd-back/bin/
cicd-back/build/
!cicd-back/gradle/wrapper/gradle-wrapper.jar
!cicd-back/src/main/**/build/
!cicd-back/src/test/**/build/
cicd-back/gradle.properties
cicd-back/src/main/resources/static/
bin/
cicd-ui/.browserslistrc
cicd-ui/.editorconfig
cient/dist
cient/.vscode
cient/package-lock.json
cient/node_modules
cient/Product.json
cient/debug.log


